body{
margin: 0;
}
.Navbar{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
border: 1px solid rgb(224, 217, 217);
box-shadow: 1px;



}
.logo{
    height: 100px;
    width: 100px;
}
.Nav-items >ul {
    display: flex;
    flex-wrap: wrap;

}
.Nav-items >ul >li{
padding: 10px;
margin: 10px;
align-items: center;
font-size: 16px; 
font-weight: 600;   

}
li{
    list-style: none;
}
.search-bar{
    height: 30px;
    width: 200px;
    justify-content: center;
    align-items: center;
    padding-left: 400px;
}
.Res-cards{
width: 300px;
height: 400px;
border: 1px solid rgb(236, 229, 229);
display: flex;
flex-wrap: wrap;
margin: 10px;
}
.Res-img{
    width: 280px;
    height: 180px;
    padding: 5px;
    border-radius: 25px;
}
.Res-cards:hover{
    border: 1px solid rgb(219, 211, 211);
    cursor: pointer;

}
.Res-container{
    display: flex;
    flex-wrap: wrap;
}
.filter-btn{
    margin-left: 50px;
    cursor: pointer;
}
.unfilter-btn{
    margin-left: 50px;
    cursor: pointer;
}